/* common /shared styling*/
*{
    margin: 0px;
    padding: 0px ;
    /* margin: 30px 80px; */
    /* background: repeating-linear-gradient(to right,pink , pink 40px,#ffc0cb78 20px,#ffc0cb78 80px); */
}
.btn-primary{
    color: #FFFFFF;
    background-color: firebrick;
    border: 0;
    border-radius: 25px;
    margin: 40px;
    padding: 10px 30px;
    font-size: 25px;
}
.color-primary{
    color: orangered;
}
/* webpage font */
/* body font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');
/* header banner font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');
 
/* body part start */
body{
    margin: 50px 80px;
    max-width: 1320px;
}
header,section{
    margin-bottom: 100px;
}
/* header styling start */
header{
    text-align: center;
    color: #FFFFFF;
    padding-top: 200px;
    height: 340px;
    background-image: url('../resources/Banner\ Image.png');
    opacity: 9;
    background-repeat: no-repeat;
    background-size: contain;
    
}
.header-subheading,.header-title{
    font-family: "Merriweather", serif;
    /* font-weight: 700; */
}
.header-subheading{
    font-size: 30px;
    font-weight: 300;
}
.header-title{
    font-size: 80px;
    font-weight: 700;
    margin: 0px 200px;
    padding: 10px 100px;
}
/* header styling end */
/* 65% offer section start */
.offer{
    font-family: "Inter", sans-serif;
    text-align: center;
}
.offer-container{
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px blanchedalmond;
    background-color: rgba(255, 235, 205, 0.449);
}
.offer-title{
    font-size: 72px;
    margin: 10px 0px 30px;
}
.offer-desc{
    font-size: 20px;
    font-weight: 700;
}
.offer-subheading{
    font-size: 40px;
}
.offer-image{
    margin: 30px 80px 10px;
}
/* 65% offer section end */
/* midnight section start */
.midnight-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: #FFFFFF;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 15px 15px 15px;
    /* height: 340px; */
    padding: 60px;
    /* border: 2px solid black;  */
}
.midnight-container-items{
    width: 50%;
    text-align: left; 
    margin: 30px 0px;
    padding: 20px 0px;
}
.midnight-title{
    margin: 20px 0px; 
    font-size: 70px;
    font-family: "Merriweather", serif;
}
.midnight-desc{
    font-family: "Inter", sans-serif;
}
.midnight-image{
    opacity: .9;
}
/* midnight section end */
/* location styling start */
.location{
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    padding: 80px;
    background-image: linear-gradient(180deg,rgba(255, 192, 203, 0.809),rgba(255, 235, 205, 0.672));
    border-radius: 15px;
    box-shadow: px px 5px 5px blanchedalmond;
}
.location>p{
    padding-bottom: 10px;
}
/* location styling end */
/* coming soon styling start */
.coming-soon-container{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 70px 10px;
    align-items: center; 
    background-color: blanchedalmond; 
    border-radius: 15px;
    font-family: "Inter", sans-serif;
    background-image: url('../resources/Group\ 96.png');
    background-repeat: no-repeat;
    background-position: right 120px bottom 100px ;
}
.soon-title{
    font-size: 50px;
    font-family: "Merriweather", serif;
}
.year24-desc{
    margin: 10px 0px 40px;
}
.soon-image{
    border: 15px solid red;
    padding: 20px;
    border-radius: 50%;
}
/* coming soon styling end */
/* holiday style start */
.holiday-sale{
    height: 700px;
    text-align: center;
    /* background-color: blanchedalmond;  */
    border-radius: 15px;
    font-family: "Inter", sans-serif;
    padding: 70px;
    background-image: url('../resources/Rectangle\ 2.png'),url('../resources/Group\ 44.png'),url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-size: 100%,25%,30%;
    background-position: bottom,right 200px bottom 250px,right bottom 200px;
    opacity: 1;
    opacity: 0.8;
}
.holiday-title{
    font-size: 70px;
    font-family: "Merriweather", serif;
}
.holiday-sale-desc{
    padding: 10px 90px 150px;
    margin-bottom: 50px;
}
.holiday-image-container{
    display: flex;
}
/* holiday style end */