/* common /shared styling*/
*{
    margin: 0px;
    padding: 0px ;
    /* margin: 30px 80px; */
    /* background: repeating-linear-gradient(to right,pink , pink 40px,#ffc0cb78 20px,#ffc0cb78 80px); */
}
.btn-primary{
    color: #FFFFFF;
    background-color: firebrick;
    border: 0;
    border-radius: 25px;
    margin: 40px;
    padding: 10px 30px;
    font-size: 25px;
}
.btn-primary:hover,button:hover{
    cursor: pointer;
    background-color: rgb(213, 116, 18);
}
.color-primary{
    color: orangered;
}
/* webpage font */
/* body font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');
/* header banner font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');
 
/* body part start */
header,main{
    margin: 50px 80px;
    max-width: 1320px;
}
header,section{
    margin-bottom: 100px;
}
/* header styling start */
header{
    text-align: center;
    color: #FFFFFF;
    height: 450px;
    padding-top: 100px;
    background-image: url('../resources/Banner\ Image.png');
    opacity: 4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    /* border:2px solid red; */
    
}
.header-subheading,.header-title{
    font-family: "Merriweather", serif;
    /* font-weight: 700; */
}
.header-subheading{
    font-size: 30px;
    font-weight: 300;
}
.header-title{
    /* font-size: 80px; */
    font-size: 43px;
    font-weight: 700;
    /* margin: 0px 200px; */
    margin: 0px 180px;
    padding: 10px 100px;

    
    /* border:2px solid red; */
}
/* header styling end */
/* 65% offer section start */
.offer{
    font-family: "Inter", sans-serif;
    text-align: center;
}
.offer-container{
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px blanchedalmond;
    background-color: rgba(255, 235, 205, 0.449);
}
.offer-title{
    font-size: 72px;
    margin: 10px 0px 30px;
}
.offer-desc{
    font-size: 20px;
    font-weight: 700;
}
.offer-subheading{
    font-size: 40px;
}
.offer-image{
    margin: 30px 80px 10px;
}
/* 65% offer section end */
/* midnight section start */
.midnight-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: #FFFFFF;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 15px 15px 15px;
    /* height: 340px; */
    padding: 60px;
    /* border: 2px solid black;  */
}
.midnight-container-items{
    width: 50%;
    text-align: left; 
    margin: 30px 0px;
    padding: 20px 0px;
}
.midnight-title{
    margin: 20px 0px; 
    font-size: 70px;
    font-family: "Merriweather", serif;
}
.midnight-desc{
    font-family: "Inter", sans-serif;
}
.midnight-image{
    opacity: .9;
}
/* midnight section end */
/* location styling start */
.location{
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    padding: 80px;
    background-image: linear-gradient(180deg,rgba(255, 192, 203, 0.809),rgba(255, 235, 205, 0.672));
    border-radius: 15px;
    box-shadow: px px 5px 5px blanchedalmond;
}
.location>p{
    padding-bottom: 10px;
}
/* location styling end */
/* coming soon styling start */
.coming-soon-container{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 70px 10px;
    align-items: center; 
    background-color: blanchedalmond; 
    border-radius: 15px;
    font-family: "Inter", sans-serif;
    background-image: url('../resources/Group\ 96.png');
    background-repeat: no-repeat;
    background-position: right 120px bottom 100px ;
}
.soon-title{
    font-size: 50px;
    font-family: "Merriweather", serif;
}
.year24-desc{
    margin: 10px 0px 40px;
}
.soon-image{
    border: 15px solid red;
    padding: 20px;
    border-radius: 50%;
}
/* coming soon styling end */
/* holiday style start */
.holiday-sale{
    height: 700px;
    text-align: center;
    /* background-color: blanchedalmond;  */
    border-radius: 15px;
    font-family: "Inter", sans-serif;
    padding: 70px;
    background-image: url('../resources/Rectangle\ 2.png'),url('../resources/Group\ 44.png'),url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-size: 100%,25%,30%;
    background-position: bottom,right 200px bottom 250px,right bottom 200px;
    opacity: 1;
    opacity: 0.8;
}
.holiday-title{
    font-size: 70px;
    font-family: "Merriweather", serif;
}
.holiday-sale-desc{
    padding: 10px 90px 150px;
    margin-bottom: 50px;
}
.holiday-image-container{
    display: flex;
}
.soon-image>img:hover{
    cursor: pointer;
    opacity: .6;
}
/* holiday style end */

/* portfolio styling start */
.portfolio{
    font-family: "Inter", sans-serif;
}
.portfolio-container{
    width: 70%;
    padding: 20px 100px 20px 0px;
    margin-bottom: 40px;
}
.portfolio-heading{
    font-size: 50px;
    margin: 15px 0px;
    font-family: "Merriweather", serif;
}
.portfolio-image-display{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.portfolio-image-display>img{
    width: 100%;
}
.portfolio-image-display>img:hover{
    opacity: 0.5;
    cursor: pointer;
}
/* portfolio styling end */
/* newsletter start*/
.newsletter{
    background-color: blanchedalmond;
    border-radius: 15px;
    text-align: center;
    font-family: "Inter", sans-serif;
    padding: 20px 80px;
}
.newsletter-heading{
    font-size: 50px;
    margin: 15px 0px;
    font-family: "Merriweather", serif;
}
.newsletter-desc{
    margin: 20px 0px;
}
.subscribe{
    margin: 40px 0px;
    display: inline;
    align-items: center;
}
form input[type=text] {
    padding: 10px 30px;
    font-size: 17px;
    border:0;
    width: 30%;
    border-radius: 30px 0px 0px 30px; 
}
input:focus{
    color: midnightblue;
    outline: 0;
    border: 1px solid midnightblue;
}
form button {
    width: 20%;
    padding: 10px;
    background: red;
    color: white;
    font-size: 17px;
    border: 0;
    border-radius: 0px 30px 30px 0px;
  }
/* newsletter end*/
/* footer start */
.footer{
    background-color: #070211;
}
.footer-contact{
    color: aliceblue;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address{
    font-size: 20px;
    width: 30%;
    padding-right: 40px;
    font-family: "Inter", sans-serif;
}
.web-number p{
    margin-bottom: 10px;
}
.fa-solid{
    margin-right: 20px;
}
hr{
    color: aliceblue;
    margin: 0px 80px;
}
.social-media{
    margin: 20px 0px;
    text-align: center;
}
.social-media a img{
    margin-right: 20px;
}
.footer-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    padding: 20px;
}
#footer-name{
    font-size: 25px;
}
.footer-button{
    margin: 0px 10px;
    font-size: 15px;
}

.hide{
    display: none;
}

/* responsive small */
@media  screen and (max-width:576px) {

    main{
        margin: 20px;
    }
    /* header */
    header{
        height: 180px;
        margin: 20px;
        padding-top: 20px;
        background-size: cover;
    }
    .header-subheading{
        font-size: 1em;
    }
    .header-title{
        color: #fefefd;
        font-size: 1.2em;
        margin: 0px 30px;
        padding: 0px 20px;
    }

    /* midnight */
    .midnight-container{
        flex-direction: column-reverse;
        padding: 20px;
        gap: 20px;
        /* height: 350px; */
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
    }
    .midnight-container-items{
        padding: 0px;
        width: 100%;
        margin: 0px;
    }
    .midnight-title{
        font-size: 2.5em;
    }
    .mid-button{
        width: 100%;
        margin: 20px 0px;
    }
    .mid-button > .btn-primary{
        display: flex;
        font-size: .8em;
    }
    .midnight-image img{
        width: 100%;
    }

    /* offer-image */
    .offer-image{
        margin: 30px;
    }

    .offer-title{
        font-size: 3em;
        margin-bottom: 10px;
    }
    .offer-subheading{
        font-size: 2em;
        margin-top: 20px;
    }
    .offer-image img{
        width: 100%;
    }

    /* location */
    .location{
        font-size: 2em;
        padding: 20px;
        text-align: justify;
    }
    .location > div{
        /* border:2px solid red; */
        display: flex;
        justify-content: center;
    }
    .location > div > .btn-primary{
        margin: 20px;
        padding: 10px 15px;
        width: 100%;
        font-size:.5em;
    }

    .location>p{
        font-size: .6em;
    }

    /* coming soon */
    .coming-soon-container{
        flex-direction: column;
        background-size: 25%;
        padding: 20px;
        gap: 20px;
        background-position: right 20px bottom 10px ;
    }
    .color-primary{
        font-size: .8em;
    }
    .soon-title{
        font-size: 2em;
        margin: 10px 0px;
    }

    .soon-image{
        border: 10px solid red;
        padding: 10px;
    }
    .soon-image img{
         width: 100%;
    }

    /* holiday */
    .holiday-sale{
        /* border:2px solid red; */
        padding: 0px;
        background-size: 100%;
        background-position: bottom,left 80px bottom 350px ,right bottom 0px;
        background-size: 100%,60%,100%;
    }
    .holiday-subheading{
        font-size: .8em;
    }
    .holiday-title{
        padding: 10px;
        margin: 0;
        font-size: 2.5em;
    }

    .holiday-sale-desc{
        padding: 20px;
    }

    .holiday-image-container img{
        width: 60%;
        /* border:2px solid red */
    }

    /* portfolio */
    .portfolio{
        /* width: 100%; */
        padding: 20px;
        /* border:2px solid red; */
    }
    .portfolio-container{
        width: 100%;
        padding: 0px;
    }
    .portfolio-heading{
        font-size: 2em;
    }
    .portfolio-image-display{
        grid-template-columns: repeat(2,1fr);
    }
    /* newsletter */
    .newsletter{
        padding: 20px;
    }
    .newsletter-heading{
        font-size: 1.5em;
    }

   .subscribe {
        flex-direction: column; 
    }

    .subscribe input[type=text],
    .subscribe button {
        width: 50%;
        border-radius: 30px;      
        margin: 8px 0;            
    }

    /* footer */
    .footer-contact{
        flex-direction: column-reverse;
        
        justify-content: center;
        padding: 20px;
    }
    .footer-contact > div{
        width: 100%;
    }
    .web-number{
        display: flex;
        margin: 0px 20px;
        justify-content: space-between;
    }
    .address{
        font-size: 1.2em;
        text-align: center;
        padding: 0px;
        margin-top: 10px;
    }
    .social-media img{
        width: 8%;
    }
    .footer-footer{
        text-align: center;
        flex-direction: column;
        row-gap: 10px;
    }
    .footer-footer .btn-primary{
        font-size: .7em;
        padding: 10px 15px;
    }
    
}

/* responsive medium */
@media screen and (min-width:577px) and (max-width: 990px) {
        /* header */
    header{
        height: 280px;
        margin: 20px;
        padding-top: 80px;
        background-size: cover;
    }
    .header-subheading{
        font-size: 1.3em;
    }
    .header-title{
        font-size: 1.5em;
        margin: 0px 30px;
        padding: 0px 20px;
    }

    /* offer */
    .offer-image img{
        width: 100%;
    }



    /* coming soon */
    .coming-soon-container{
        flex-direction: column;
        background-size: 25%;
        padding: 20px;
        gap: 20px;
        background-position: right 20px bottom 10px ;
    }
    .color-primary{
        font-size: .8em;
    }
    .soon-title{
        font-size: 2em;
        margin: 10px 0px;
    }

    .soon-image{
        border: 10px solid red;
        padding: 10px;
    }
    .soon-image img{
         width: 100%;
    }

    /* holiday */
    .holiday-sale{
        /* border:2px solid red; */
        padding: 0px;
        background-size: 100%;
        background-position: bottom,left 80px bottom 350px ,right bottom 0px;
        background-size: 100%,60%,100%;
    }

    .holiday-image-container{
        margin-bottom: 30px;
    }

    .holiday-image-container img{
        width: 80%;
        /* border:2px solid red */
    }

    /* portfolio */
    .portfolio{
        width: 100%;
    }

    .newsletter-heading{
        font-size: 2em;
    }


    
}